<h1>フレンド申請一覧</h1>
<div class="friend-request-list">
  <% @friend_requests.each do |request| %>
    <div class="request">
      <%= link_to user_path(request.from_applicant_id) do %>
        <%= image_tag request.from_applicant.user_detail.profile_picture.small.url %>
        <%= request.from_applicant.user_detail.account_name %>
      <% end %>
      <!-- <%#= render './friend_relations/friend_request', user: user = @user %><br/> -->
      <%= render 'friend_request', user: user = request.from_applicant %><br/>
    </div>
  <% end %>
</div>
