<h2>
  <% if current_user.id == @user.id %>マイページ
  <% else %><%= @profile.account_name %>の詳細ページ
  <% end %>
</h2>
<%= render 'user_show' %>

<%= link_to "プロフィールの編集", edit_user_registration_path %>
<div class="field"><%= link_to "TOPに戻る", recruitments_path %><br/></div>
