/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
	font-size: 62.5%;
}
@media (prefers-color-scheme: dark) {
	body {
		font-size: 1.5rem;
		height: 100%;
		background-color: rgb(39, 39, 39);
		color: rgb(198, 207, 200);
	}
}

.form-control {
	font-size: 1.5rem;
}

::placeholder {
	font-size: 1.3rem;
}

.form-control,
.form-control:focus,
select,
input,
textarea {
	background-color: rgb(245, 245, 245);
}

.contents {
	background-color: rgb(65, 65, 65);
	padding: 20px 30px;
}

a {
	text-decoration: none;
	color: rgb(198, 207, 200);
}
a:hover {
	color: azure;
}

ul {
	list-style-type: none;
}

.container {
	width: 100%;
}

.row {
	width: 100%;
}

.header {
	background-color: rgb(39, 39, 39);
}

.langamer-logo {
	font-family: "Anton", sans-serif;
	color: forestgreen !important;
	font-size: 2.5rem;
	padding-left: 15px;
	padding-bottom: 5px;
}
.langamer-logo:hover {
	color: forestgreen;
}

.header-left {
	padding-right: 5px;
}
.nav-item {
	padding-right: 15px;
}

.link-btn {
	font-family: "Shippori Mincho", serif;
	font-size: 1.5rem;
	padding-top: 5px;
}

.footer-border {
	margin-top: 40px;
}

footer {
	text-align: center;
	line-height: 25px;
	bottom: 0;
	width: 100%;
}

.page-title {
	padding-top: 62px;
	margin-bottom: 25px;
	text-align: center;
}

.main-contents {
	margin-top: 55px;
}

.content_field {
	margin-bottom: 3px;
}

.form_box {
	margin-bottom: 10px;
	text-align: center;
}

.textarea-show-box {
	text-align: left;
}

.show-content {
	color: black;
	background-color: rgb(190, 190, 190) !important;
	padding: 10px 20px;
}

.select-size-auto {
	width: auto;
}

#copyright {
	margin: 0;
	color: rgb(198, 207, 200);
}

.basic-button {
	text-align: right;
	margin-top: 25px;
}
