.information {
	text-align: center;
}

.new-post {
	padding-top: 30px;
}

.info-field {
	padding-top: 7px;
	margin-left: 20px;
}

.search-data {
	padding-top: 60px;
}

.search-box {
	margin: 5px;
}

.text-padding-left {
	margin-right: 10px;
}

.recruitment-post {
	text-align: center;
}

.img-position {
	float: left;
	padding-top: 15px;
	margin-left: 30px;
}

.recruitment-img {
	width: 75px;
	height: auto; /* ←縦横比を維持する高さを自動計算 */
}

.main-article {
	background-color: rgb(65, 65, 65);
	padding: 22px 25px 54px 100px;
}

.article-content {
	float: left;
}

.article-user-name {
	font-size: 1.3rem;
	margin-bottom: 6px;
}

.article-title {
	text-align: left;
	font-size: 2rem;
	margin-left: 20px;
}

.article-date {
	text-align: right;
	font-size: 1.2rem;
	margin: 0;
}

.pagination {
	justify-content: center;
}
