.information {
	text-align: center;
}

.new-post {
	padding-top: 30px;
}

.info-field {
	padding-top: 7px;
	margin-left: 20px;
}

.search-data {
	padding-top: 60px;
}

.search-box {
	margin-bottom: 15px;
}

.text-padding-left {
	margin-right: 10px;
}

.recruitment-img {
	width: 75px;
	height: auto; /* ←縦横比を維持する高さを自動計算 */
}

.article-content {
	float: left;
}

.pagination {
	justify-content: center;
}

.before-render {
	margin-bottom: 10px;
}

.danger-button {
	text-align: right;
	margin-top: 5px;
}

.recruitment-title {
	padding-left: 15px;
	padding-bottom: 4px;
	margin-top: 30px;
}

.search-btn {
	width: 75px;
}

.recruitment-post {
	/*
	text-align: center;
	*/
}

.img-position {
	float: left;
	padding-top: 23px;
	margin-left: 21px;
}

.main-article {
	background-color: rgb(65, 65, 65);
	padding: 20px 20px 20px 100px;
	margin-bottom: 15px;
}

.article-user {
	float: left;
	margin-left: 10px;
}

.article-user-name {
}

.article-time {
	text-align: right;
}
.article-date {
	padding-right: 5px;
}

.article-title {
	margin: 0;
	padding: 10px 20px;
	font-size: 1.6rem;
	text-align: left;
	/*
	margin-left: 20px;
			*/
}
